.footer a {
  color: #fff;
  font-size: 19px;
  font-weight: 600;
}

.footer {
  background-color: #473fef;
  width: auto;
  height: 289px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 34px;
}
