.form-small {
  border-radius: 21px;
  border: 2px solid #473fef;
  background: #fff;
  margin-bottom: 54px;
}

.form h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  background-color: #473fef;
  border-radius: 18px 18px 0 0;
  padding: 13px 0 13px 37px;
}

.form-recherche {
  border: none;
  color: #473fef;
  font-size: 18px;
  font-weight: 500;
  border-radius: 21px;
  padding: 10px 180 10px 18px;
  background: #e5e4ff;
  margin: 23px 36 13px 36px;
}

.form-verb {
  background-color: #fff;
  border-radius: 50px;
  border: 2px solid var(--Bleu, #473fef);
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 13px 0 0px 0;
  padding: 8px 20px 8px 20px;
  align-items: center;
  color: #473fef;
  font-size: 18px;
  font-weight: 500;
}

.form-verb:hover {
  background: #4ce9cd;

  transition: 0.2s;
}

.form-verb-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
  margin-left: 37px;
}

.switch-wrapper {
  display: inline-block;
  width: 50px;
  height: 24px;
  padding: 2px;
  border-radius: 15px;
  background: white;
  border: 2px solid #473fef;
  transition: ease-in 0.2s;
}

input:checked + .switch-wrapper {
  background-color: #4ce9cd;
  border: 2px solid #4ce9cd;
}

.switch-inner {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #473fef;
  transition: ease-in 0.2s;
}

input:checked + .switch-wrapper .switch-inner {
  margin-left: 26px;
  background: #fff;
}

.switch input {
  display: none;
}
