.form-small {
  border-radius: 21px;
  border: 2px solid #473fef;
  background: #fff;
  margin-bottom: 54px;
}

.form h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  line-height: normal;
  background-color: #473fef;
  border-radius: 18px 18px 0 0;
  padding: 13px 0 13px 37px;
}

.form-recherche {
  border: none;
  color: #473fef;
  font-size: 18px;
  font-weight: 500;
  border-radius: 21px;
  padding: 10px 180 10px 18px;
  background: #e5e4ff;
  margin: 23px 36 13px 36px;
}

.form-verb {
  background-color: #fff;
  border-radius: 50px;
  border: 2px solid var(--Bleu, #473fef);
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin: 13px 0 0px 0;
  padding: 8px 20px 8px 20px;
  align-items: center;
  color: #473fef;
  font-size: 18px;
  font-weight: 500;
}

.form-verb:hover {
  background: #4ce9cd;
  transition: 0.2s;
}

.form-verb-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
  margin-left: 37px;
}

.form h3 {
  color: #473fef;
  font-size: 19px;
  font-weight: 600;
}
.form select {
  width: 83px;
  height: 42px;
  border-radius: 10px;
  border: 2px solid #473fef;
  background-color: white;
  color: #473fef;
  font-size: 18px;
  font-weight: 500;
  padding-left: 20px;
}

.form-type {
  border-radius: 10px;
  border: 2px solid #473fef;
  width: 333px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.form-type input {
  display: none;
}

.form-type-inner {
  color: #473fef;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 22px 10px 13px;
  transition: ease-in 0.1s;
}

.form-type-inner.t-first {
  border-right: 2px solid #473fef;
}

.form-type input:checked + .form-type-inner {
  background-color: #4ce9cd;
}

.form-type-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 29px 39px 0 37px;
}

.form-number-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 55px 39px 0 37px;
}

.form-option-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 61px 39 110px 37px;
}

.form-verb-wrapper {
  margin: 22px 37px 50px 37px;
}

.form-verb-settings {
  display: flex;
  width: 50%;
  margin: 35px 0 0 0;
}

.form-verb-settings p {
  color: #473fef;
  font-size: 18px;
  font-weight: 500;
  margin-left: 10px;
}

.form-verb-settings-box {
  display: flex;
  flex-wrap: wrap;
}

.form-mes-temps {
  margin: 75px 0 15px 0;
}

.form hr {
  border: 1px solid #473fef;
}
