.hiddenform-menu {
  max-height: 0;
  pointer-events: none;
  transition: opacity 0.1s;
  overflow: hidden;
  transition: max-height 0.5s;
}

.hiddenform-menu.is-active {
  max-height: 800px;
  pointer-events: auto;
}

.hiddenform-burger img {
  margin-bottom: 20px;
  margin-left: 470px;
}

.hiddenform-arrow {
  transition: transform 0.5s ease;
  margin-top: 10px;
}

.rotated {
  transform: rotate(180deg);
}
