.sidebar {
  background-color: #473fef;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 92px;
  border-left: 2px solid #473fef;
}

.sidebar img {
  width: 40px;
  margin: 40px 26px 105px 26px;
}

.sidebar-menu p {
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding: 30px;
  text-align: center;
}

.sidebar-menu p:hover {
  color: #473fef;
  background-color: white;
  transition: 0.3s;
}

.sidebar-menu-content {
  display: none;
  position: absolute;
  left: -210px;
  top: 183px;
  background-color: white;
  border-radius: 15px 0px 0px 15px;
  border-top: 2px solid #473fef;
  border-bottom: 2px solid #473fef;
  border-left: 2px solid #473fef;
  background: #fff;
  width: 208px;
  height: 219px;
  flex-shrink: 0;
}

.sidebar-menu:hover .sidebar-menu-content {
  display: block;
}

.sidebar-menu-content a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 5px 0;
}

.sidebar-menu-content a:hover {
  background-color: #f0f0f0;
}
